<h1>About Page</h1>
<p>This page is to help keep track of students in a system. It is easy to add students to the system and it is easy to create a comment about particular students.</p>
<p>You need to login before you can add comments or students.</p>
