<h1>Home Page</h1>
<p>This application was created for COEN 278, Spring 2019 at Santa Clara Univeristy.</p>
<p>This website can be used to track good students who are participating and have good questions.</p>
<p>This project was created to satisfy the assignment 2 criteria.</p>
