<div align=center>
  <h1>Login Page</h1>
  <h4> Username: username</h4>
  <h4> Password: password</h4>

  <div>
    <form class="" action="/login" method="post">
      <h2>Username</h2>
      <input type="text" name="username" value="">
      <h2>Password</h2>
      <input type="text" name="password" value="">
      <div>
        <button type="submit" name="submit">Submit</button>
      </div>
    </form>


  </div>
</div>
